

body {
    background-color: hsl(230, 50%, 75%);
  }
  
h2 {
  padding: 20px;
  text-align: center;
  background-color: rgb(122, 138, 216);
}
 
div { 
  text-align: center;
  
}

@media only screen and (max-width: 375px){
  h2 {
    padding: 0; 
    width: 100%
  }

  #gordy {
    width: 100%
  }

  p {
    line-height: 1.6; 
    max-width: 100px;
  }
}
